@font-face {
	font-family: 'centuryGothic';
	src: url('../fonts/centuryGothic/centuryRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'IsamiRi';
	src: url('../fonts/IsamiRi/IsamiRiDisplayRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SpriteR';
	src: url('../fonts/SpriteGraffiti/SpriteGraffiti-Regular.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SpriteS';
	src: url('../fonts/SpriteGraffiti/SpriteGraffiti-Shadow.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}