.menu-section{
    padding: clampFluid(60) 0 0;
    .head{
        display: flex;
        justify-content: space-between;

        .title{
            flex: 0 1 42%;
            @include h1;
        }
        .content-text{
            flex: 0 0 49%;
        }
    }

    .container{
        display: grid;
        grid-template-columns: 100%;
        gap: clampFluid(80);
    }

    @media (max-width: 1280px){
        .container{
            gap: clampFluid(40);
        }
    }

    @media (max-width: 768px){
        .head{
            flex-direction: column;
            .content-text{
                margin-top: 20px;
            }
        }
    }
}